aiodns==2.0.0
aiohttp==3.6.3
altgraph==0.17
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
discord.py==1.5.1
Django==3.1.2
Flask==1.1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
maxminddb==2.0.3
MouseInfo==0.1.3
multidict==4.7.6
numpy==1.19.3
pefile==2019.4.18
pexpect==4.8.0
Pillow==8.1.0
plyer==1.4.3
proxybroker==0.3.2
ptyprocess==0.7.0
PyAutoGUI==0.9.52
pycares==3.1.1
pycparser==2.20
pygame==2.0.0
PyGetWindow==0.0.9
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
PyMsgBox==1.0.9
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.26
pyspeedtest==1.2.7
pyTelegramBotAPI==3.7.6
PyTweening==1.0.3
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
requests==2.25.1
scapy==2.4.5
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
termcolor==1.1.0
tqdm==4.60.0
urllib3==1.26.4
vk==2.0.2
vk-api==11.9.1
websploit==4.0.4
Werkzeug==1.0.1
win10toast==0.9
wxPython==4.1.0
yarl==1.5.1
